html
{
    scroll-behavior: smooth;
}
.body
{
    background-color: #373737;
    color: floralwhite;
}

section
{
    display: table;
    width: 100%;
}
.section-container
{
    background-color: #373737;
    margin:50px 20% 50px;
    padding: 20px;
}
/* header */

header
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar
{
    width: 200px;
    position: relative;
    left: 100px;
}
.big-title
{
    /* position: relative;
    left: 100px; */
    text-align: center;
    font-size: 100px;
}
/* menu */
li
{
    display: inline-block;
    padding-left: 250px;
}

a
{
    text-decoration: none;
    color: rgb(5, 5, 4);
}
/* about */

#about
{
    height: 100px;
    background-position: center;
}
/* armes */

#armes
{
    height: 100px;
    background-position: center;
}
.section-armes
{
    display: flex;
    padding: 20px;
}
.armes-items img
{
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

/* pied de page */

footer
{
    display: flex;
    justify-content: center;
}

.ul
{
    list-style-type: decimal;
    position: relative;
    right: 250px;
}

h1
{
    color: rgb(4, 250, 250);
}